h1{
    font-family: 'Monserrat', sans-serif;
    font-weight: 600;
    letter-spacing: -2px;
    color: #363f4d;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 50px;
    line-height: 1.2;
    margin-top: 0px;
    text-decoration: underline;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;

}

.websiteName {
    position: absolute;
    top : 20px;
    left: 20px;
    border-radius: 20px;
}

.websiteName {
    display: flex;
    flex-direction: row;
}

.websiteName button {
    padding-left: 1000px;
    font-size: 40px;
    color: #363f4d;
    background: transparent;
    border: none;
}
.container button {
    background-color: transparent;
    border-width: 0px;
    font-family: 'Monserrat', sans-serif;
    font-weight: 550;
    letter-spacing: 1px;
    color: #363f4d;
    margin-bottom: 0px;
    font-size: 30px;
    line-height: 1.2;
    margin-top: 0px;
    align-self: flex-start;
    height: 40px;
    gap: 0px;

}

button.active {
    background-color: #616161;
}

#Easy {
    margin-left: 165px;
}

#fifteen {
    margin-left: 205px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
    gap: 20px;
}

.testSettings, .textField {
    width: 100%;
    max-width: 1200px;
}
.testSettings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: grey;
    gap: 8px;
    padding: 10px 0;
    border-radius: 20px;
    border: 4px solid #363f4d;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
}
.textField {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
    border-radius: 30px;
    border: 8px solid #363f4d;
    background-color: grey;
}

p {
    align-self: flex-start;
    flex-wrap: wrap;
    font-family: 'Monserrat', sans-serif;
    font-weight: 550;
    letter-spacing: 1px;
    color: #363f4d;
    margin-bottom: 10px;
    font-size: 40px;
    line-height: 1.2;
    margin-top: 0px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}

body {
    height: 100vh;
    background-image: url("../images/background.jpg");
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode:lighten;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-family: 'Monserrat', sans-serif;
    font-weight: 550;
    letter-spacing: 1px;
    color: #363f4d;
    margin-bottom: 0px;
    font-size: 30px;
    line-height: 1.2;
    margin-top: 4px;
    margin-left: 35px;
    align-self: flex-start;
    height: 40px;
    gap: 0px;
}

.test-stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
    border-radius: 30px;
    border: 8px solid #363f4d;
    background-color: grey;
}

#escapeToExit {
    align-self: flex-start;
    flex-wrap: wrap;
    font-family: 'Monserrat', sans-serif;
    font-weight: 550;
    letter-spacing: 3px;
    color: #363f4d;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 1.2;
    font-style: italic;
    margin-top: 0px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;  
}