body {
    height: 100vh;
    background-image: url("../images/background.jpg");
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode:lighten;
}

#body-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 95%;
    height: auto;
    min-height: 50px;
    padding: 20px;
}

.settings-button {
    background-color: transparent;
    border-width: 0px;
    font-family: 'Monserrat', sans-serif;
    font-weight: 550;
    letter-spacing: 1px;
    color: #363f4d;
    margin-bottom: 0px;
    font-size: 30px;
    line-height: 1.2;
    align-self: flex-start;
    height: 40px;
    gap: 0px;
}

#stats-button {
    font-size: 40px;
    color: #363f4d;
    background: transparent;
    border: none
}

.settings-button.active {
    background-color: #616161;
}


#timer-container {
    margin-left: 25vh;
    width: 22%;
}

.button-container {
    display: flex;
    flex-direction: row;
    width: 30%;
}

#menu-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: grey;
    gap: 8px;
    border-radius: 20px;
    border: 4px solid #363f4d;
    width: 95%;
    margin-bottom: 3vh;
}

#textField {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    border-radius: 30px;
    border: 8px solid #363f4d;
    background-color: grey;
    width: 95%;
}


h1 {
    font-family: 'Monserrat', sans-serif;
    font-weight: 600;
    letter-spacing: -2px;
    color: #363f4d;
    text-transform: uppercase;
    font-size: 50px;
    line-height: 1.2;
    text-decoration: underline;
}

h2 {
    font-family: 'Monserrat', sans-serif;
    font-weight: 550;
    letter-spacing: 1px;
    color: #363f4d;
    font-size: 30px;
    line-height: 1.2;
}

p {
    align-self: flex-start;
    flex-wrap: wrap;
    font-family: 'Monserrat', sans-serif;
    font-weight: 550;
    letter-spacing: 1px;
    color: #363f4d;
    margin-bottom: 10px;
    font-size: 40px;
    line-height: 1.2;
    margin-top: 0px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}


#test-screen-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.test-stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 30%;
    border-radius: 30px;
    border: 8px solid #363f4d;
    background-color: grey;
    text-align: center;
    margin: auto;
}

.stats-info {
    align-self: flex-start;
    flex-wrap: wrap;
    font-family: 'Monserrat', sans-serif;
    font-weight: 550;
    letter-spacing: 1px;
    color: #363f4d;
    font-size: 40px;
    line-height: 1.2;
    overflow: hidden;
    
}

#escapeToExit {
    font-family: 'Monserrat', sans-serif;
    font-weight: 550;
    letter-spacing: 3px;
    color: #363f4d;
    font-size: 20px;
    line-height: 1.2;
    font-style: italic;
    overflow: hidden;  
}




