<!DOCTYPE html>
<html>

<head>
    <title>QUICK-KEY</title>
    <meta charset="UTF-8">
    <script src="{{ url_for('static', filename='javascript/typingScript.js')}}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/typingStyles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <div class="websiteName">
        <h1>Quick-key</h1>
        <button>
            <i class="fas fa-user-circle"></i> 
        </button>        

    </div>
    <div class="container">
        <div class="testSettings">
            <div class="buttons">
                <h2 id="timer">0</h2>
                <button tabindex="-1" type="button" id="fifteen">15</button>
                <button tabindex="-1" type="button" id="thirty">30</button>
                <button tabindex="-1" type="button" id="sixty">60</button>
                <button tabindex="-1" type="button" id="Easy">easy</button>
                <button tabindex="-1" type="button" id="Medium">medium</button>
                <button tabindex="-1" type="button" id="Hard">hard</button>
            </div>
        </div>
        <div class="textField" id="textField">
            <p id="display-text">loading words...</p>
        </div>
    </div>

    <div class="test-stats" id="testStats" style="display: none;">
        <h1>results</h1>
        <p>WPM: <span id="wpm-result"></span></p>
        <p>Raw WPM: <span id ="rawWPM-result"></span></p>
        <p>Errors: <span id="errors-result"></span></p>
        <p id="escapeToExit">press escape to return</p>
    </div>
</body>

</html>