<!DOCTYPE html>
<html>

<head>
    <title>QUICK-KEY</title>
    <meta charset="UTF-8">
    <script src="{{ url_for('static', filename='javascript/typingScript.js')}}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/typingStyles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <div id="body-container">
        <div id="header">
            <div id="title">
                <h1>Quick-key</h1>
            </div>
            <div id="user-stats">    
                <a href="{{ url_for('routes_bp.render_stats') }}" id="stats-button">
                    <i class="fas fa-user-circle"></i> 
                </a>
            </div>    
        </div>
        <div id="menu-bar">
            <div id="timer-container">
                <h2 id="timer">0</h2>
            </div>
            <div class="button-container">    
                <button tabindex="-1" type="button" class="settings-button" id="fifteen">15</button>
                <button tabindex="-1" type="button" class="settings-button" id="thirty">30</button>
                <button tabindex="-1" type="button" class="settings-button" id="sixty">60</button>
            </div>
            <div class="button-container">
                <button tabindex="-1" type="button" class="settings-button" id="easy">easy</button>
                <button tabindex="-1" type="button" class="settings-button" id="medium">medium</button>
                <button tabindex="-1" type="button" class="settings-button" id="hard">hard</button>
            </div>
        </div>
        <div id="textField">
            <p id="display-text">loading words...</p>
        </div>
    </div>

    <div id="test-screen-container">
        <div class="test-stats" id="testStats" style="display: none;">
            <h1>results</h1>
            <p id="escapeToExit">press escape to return</p>
            <p class="stats-info">WPM: <span id="wpm-result"></span></p>
            <p class="stats-info">Raw WPM: <span id ="rawWPM-result"></span></p>
            <p class="stats-info">Errors: <span id="errors-result"></span></p>
        </div>
    </div>
</body>

</html>